$Germanika: 'Germanika Personal Use';
$Fractur: 'Fractur';
$TannenbergContour: 'Tannenberg Contour';
$UnifrakturMaguntia: 'UnifrakturMaguntia';
$GrobeDeutschmeister: 'Grobe Deutschmeister';
$Tannenberg: 'Tannenberg';
$Blankenburg: 'Blankenburg';
$TannenbergFett: 'Tannenberg Fett';
$FetteHaenelFraktur: 'Fette Haenel Fraktur';
$Tannenberg: 'Tannenberg';
$HandTextur: 'Hand Textur';

.container {
	width:220px; 
	height:220px; 
	margin: 0 auto; 
	margin-top:5%;

	h1 {
		font-family: $Tannenberg; 
		text-align:center; 
		margin-top:20px;
	}
}